<mat-card *ngIf="produto !== undefined">
    <mat-card-title>Confirmar Exclusão</mat-card-title>
    <form autocomplete="off">
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="produto.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [value]="produto.preco" name="preco" disabled>
        </mat-form-field>
    </form>
    <div class="botoes">
        <button mat-button (click)="deletar(produto)" color="warn">Excluir</button>
        <button mat-button (click)="cancelar()">Cancelar</button>
    </div>
</mat-card>